@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root {
  --main_border-color: rgb(255, 138, 84);
  --preloader_background: #E16428;
}
body {
    width: 100vw;
    background-color: #F6E9E9;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}
.header{
    background: #272121;
    width: 100vw;
    height: 100px;
    top: 0;
    display: flex;
    justify-content: space-around;
}
.header p{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 2vw;
    color: snow;
    margin: 0;
    padding: 15px;
    align-self: center;
}
.header p:hover{
    border-bottom: 2px solid snow;
}
.maintext{
    font-family: 'Bowlby One', cursive;
    text-align: center;
    align-self: center;
    font-size: 3vw;
    color: snow;
    margin: 0;
}
@media (min-width: 350px) and (max-width: 754px) {
	.shop_cards{
		grid-template-columns: 1fr 1fr !important;
	}
  .card{
    width: 135px;
    height: 180px;
  }
  .card_image{
    width: 90px;
    height: 90px;
  }
  .header p{
    font-size: 2vh;
  }
  .maintext{
    font-size: 3vh;
  }
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 51, 51, 0.8);
  z-index: 1;
}
.modal {
  width: 30vw;
  height: 20vw;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25vh;
}
.shop_cards{
    display: grid;
    align-items: center;
    justify-items: center;
    opacity: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    z-index: 2;
}
.card.active{
    box-shadow: 0px 0px 10px 5px rgba(255, 122, 60, 1);
}
.card:hover{
    box-shadow: 0px 0px 10px 5px rgba(255, 122, 60, 0.7);
    transition: all 1s ease 0s;
    transform: scale(1.1);
    cursor: pointer;
}
.card:hover .card_image{
  transform: translate(50px, 0px);
  transition: all 1s ease 0s;
}
.card p{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0px;
    font-size: 24px;
    color: snow;
}
.card_price {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    color: #272121;
}
.card_description {
    font-family: 'Russo One', sans-serif;
    text-align: left;
    font-size: 10px;
    margin: 0 10px;
    color: #363333;
    
}
.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(255, 122, 60, 0.5);
    border-style: solid;
    border-width: 3px;
    border-color: var(--main_border-color);
    transition: all 1.2s ease 0s;
    width: 150px;
    height: 200px;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(255, 122, 60, 0.5);
    display: flex;
    flex-direction: column;
}
.card_image {
  position: absolute;
  margin: 130px 91px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid #ff7a3c;
  border-radius: 10px;
  background-color: snow;
  box-shadow: 0px 0px 10px 5px #ff7a3c;
  transition: all 1s ease 0s;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #F6E9E9;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: var(--preloader_background);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
