@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root {
  --preloader_background: #515E63;
  --shadow07: rgba(81, 94, 99, 0.7);
  --shadow05: rgba(81, 94, 99, 0.5);
  --shadow02: rgba(81, 94, 99, 0.2);
  --header_background: #515E63;
  --header_text: snow;
  --background: #f7ffec;
  --card_background: #fffbdd;
  --card_text: #515E63;
  --card_price: #57837B;
  --card_description: #7b7c7c;
  --card_image_background: #fffbdf;
  --card_border: #515E63;
  --card_input_border: #C9D8B6;
  --card_input_outline: #515E63;
  --card_input_background: #C9D8B6;
  --button_background: #57837B;
  --button_text: snow;
  --button_border: snow;
  --button_shadow05: rgba(87, 131, 123, 0.5);

}
body {
    background-image: url(images/background-light.png);
    width: 100vw;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}
.header{
    background: var(--header_background);
    box-shadow: 0px 0px 5px 15px var(--shadow07);
    width: 100vw;
    height: 100px;
    top: 0;
    display: flex;
    justify-content: space-around;
}
.header p{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 2vw;
    color: var(--header_text);
    margin: 0;
    padding: 15px;
    align-self: center;
}
.header p:hover{
    border-bottom: 2px solid var(--header_text);
}
.maintext{
    font-family: 'Bowlby One', cursive;
    text-align: center;
    align-self: center;
    font-size: 3vw;
    color: var(--header_text);
    margin: 0;
}
@media (min-width: 350px) and (max-width: 754px) {
	.shop_cards{
		grid-template-columns: 1fr !important;
	}
  .card{
    width: 135px;
    height: 180px;
  }
  .card_image{
    width: 90px;
    height: 90px;
  }
  .header p{
    font-size: 2vh;
  }
  .maintext{
    font-size: 3vh;
  }
  .card.active{
    box-shadow: 0px 0px 10px 5px var(--shadow07);
    transform: scale(1) translate(0px, 0px) !important;
    width: 270px !important;
    height: 260px !important;
    z-index: 4;
    
  }
}
.shop_cards{
    display: grid;
    align-items: center;
    justify-items: center;
    opacity: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    z-index: 4;
}
.card.active{
    box-shadow: 0px 0px 10px 5px var(--shadow07);
    transform: scale(2) translate(0px, 50px);
    z-index: 4;
    
}
.card:hover:not(.active){
  box-shadow: 0px 0px 10px 5px var(--shadow05);
  transition: all 1s ease 0s;
  transform: scale(1.1);
  cursor: pointer;
} 
.card:hover:not(.active) .card_image{
  transform: translate(50px, 0px);
  transition: all 1s ease 0s;
}
.card.active .card_image{
  transform: translate(50px, 0px);
  transition: all 1s ease 0s;
}
.card p{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0px;
    font-size: 24px;
    color: var(--card_text);
}
.card_price {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    color: var(--card_price);
}
.card_description {
    font-family: 'Russo One', sans-serif;
    text-align: left;
    font-size: 10px;
    margin: 0 10px;
    color: var(--card_description);
    
}
.card_input{
  width: 90%;
  align-self: center;
  height: 28px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  background: var(--card_input_background);
  border: 1px solid var(--card_input_border);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1vh;
  color: var(--card_input);
  margin-top: 5px;
  outline-color:var(--card_input_outline);
}
.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--card_background);
    border-style: solid;
    border-width: 3px;
    border-color: var(--card_border);
    transition: all 1.2s ease 0s;
    width: 150px;
    height: 200px;
    margin-top: 5vh;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px var(--shadow02);
    display: flex;
    flex-direction: column;
}
.card_image {
  position: absolute;
  margin: 130px 91px;
  width: 100px;
  height: 100px;
  background-size:contain;
  background-repeat: no-repeat;
  /* border: 2px solid var(--card_border); */
  /* border-radius: 10px; */
  /* background-color: var(--card_image_background); */
  /* box-shadow: 0px 0px 10px 5px var(--shadow02); */
  transition: all 1s ease 0s;
}
.buy_button {
  width: 70px;
  height: 28px;
  border-radius: 8px;
  margin-left: 15px;
  margin-top: 5px;
  color: var(--button_text);
  background: var(--button_background);
  border: 2px solid var(--button_border);
  font-family: 'Russo One', sans-serif;
  transition: 1s;
  box-shadow: 0px 0px 10px 5px var(--button_shadow05);
}
.buy_button:hover {
  transition: 1s;
  box-shadow: 0px 0px 10px 5px var(--shadow05);
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: var(--preloader_background);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
